@using Nethereum.Web3.Accounts;
@using Utils
@page "/Accounts"

<PageTitle>PQ - Accounts</PageTitle>
@if (Acc.Accounts.Count > 0)
{
	<div>
		<div class="p-2">
			<RadzenText TextStyle="TextStyle.H6">
				Chains: @string.Join(", ", AccountSettings.ChainSettings.Where(cs => cs.Enabled).Select(cs => cs.Name))
			</RadzenText>
		</div>
		<div>
			@foreach(DFKAccount acc in Acc.Accounts.DistinctBy(a => a.Account.Address))
			{
				<RadzenCard class="my-3 overflow-auto text-wrap">
					<div class="row">
						@foreach (DFKAccount acc2 in Acc.Accounts.Where(a => a.Account.Address == acc.Account.Address))
						{
							<div class="col-6">
								<RadzenText TextStyle="TextStyle.H4">
									@acc2.Name on @acc2.Chain.Name
								</RadzenText>
								<RadzenText TextStyle="TextStyle.H5">
									Balance
								</RadzenText>
								<RadzenText TextStyle="TextStyle.H5">
									<span class="ml-2">@acc2.Balance <RadzenImage Path="@(acc2.Chain.Name == "DFK" ? "Images/Jewel.png" : "Images/Klay.png")" Style="width: 18px; height:18px;" /></span>
								</RadzenText>
							</div>
						}
					</div>
					<RadzenText TextStyle="TextStyle.H6">
						Address
					</RadzenText>
					<RadzenText>
						@acc.Account.Address
					</RadzenText>
					<RadzenText TextStyle="TextStyle.H6">
						Public Key
					</RadzenText>
					<RadzenText>
						@acc.Account.PublicKey
					</RadzenText>
					<RadzenLabel Text="Show Private Key" Component="ShowPrivateKey" class="font-weight-bold" />
					@if (Initialized)
					{
						<form @onsubmit=@(() => TryRevealKey(acc.Name, Password))>
							<RadzenPassword @bind-Value=@Password Placeholder="Re-enter Password" />
							<RadzenButton Text="Show Private Key" ButtonType="ButtonType.Submit" />
						</form>
						@if (ShowPrivateKey[acc.Name])
						{
							<RadzenText TextStyle="TextStyle.H6">
								Private Key
							</RadzenText>
							<RadzenText>
								@acc.Account.PrivateKey
							</RadzenText>
						}
					}
				</RadzenCard>
			}
		</div>
	</div>
}