@using Nethereum.Web3.Accounts;
@using Utils
@page "/Accounts"

<PageTitle>PQ - Accounts</PageTitle>
@if (Acc.Accounts.Count > 0)
{
	<div>
		<div class="p-2">
			<RadzenText TextStyle="TextStyle.H6">
				Chains: @string.Join(", ", AccountSettings.ChainSettings.Where(cs => cs.Enabled).Select(cs => cs.Name))
			</RadzenText>
		</div>
		<div>
			@foreach(DFKAccount acc in Acc.Accounts.DistinctBy(a => a.Account.Address))
			{
				<RadzenCard class="my-3 overflow-auto text-wrap">
					<div class="row">
						<div class="col-12 text-center">
							<RadzenText TextStyle="TextStyle.H4">
								@acc.Name
							</RadzenText>
						</div>
						@if (acc.PQTBalance > 0)
						{
							@foreach (DFKAccount acc2 in Acc.Accounts.Where(a => a.Account.Address == acc.Account.Address))
							{
								<div class="col-md-3">
									<RadzenText TextStyle="TextStyle.DisplayH6">
                                        @acc2.Chain.Name
									</RadzenText>
								</div>
								<div class="col-md-3">
									<RadzenText TextStyle="TextStyle.H6">
										<span class="">
											<RadzenImage Path="@(acc2.Chain.Name == "DFK" ? "Images/Jewel.png" : "Images/Klay.png")" Style="width: 18px; height:18px;" />
											@acc2.Balance
										</span>
									</RadzenText>
								</div>
								<div class="col-md-3">
									<RadzenText TextStyle="TextStyle.H6">
										<span class="">
											<RadzenImage Path="@(acc2.Chain.Name == "DFK" ? "Images/Crystal.png" : "Images/Jade.png")" Style="width: 18px; height:18px;" />
											@acc2.PowerTokenBalance
											</span>
									</RadzenText>
								</div>
								<div class="col-md-3">
									<RadzenText TextStyle="TextStyle.H6">
										<span class="">
											<div style="position:relative;width:0;height:0;">
												<RadzenImage Path="@("Images/Lock.png")" Style="width: 14px; height:18px; position: relative; top: 6px; left: -8px;" />
											</div>
											<RadzenImage Path="@(acc2.Chain.Name == "DFK" ? "Images/Crystal.png" : "Images/Jade.png")" Style="width: 18px; height:18px;" />
											@acc2.LockedPowerTokenBalance
										</span>
									</RadzenText>
								</div>
							}
						}
						<div class="col-12 pb-2">
							<div class="row">
								<div class="col-md-3">
									<RadzenText TextStyle="TextStyle.DisplayH6">
										Avalanche
									</RadzenText>
								</div>
								<div class="col-md-3">
									<RadzenText TextStyle="TextStyle.H6">
										<span>
											<RadzenImage Path="@("Images/Avalanche.svg")" Style="width: 18px; height:18px;" />
											@acc.AvaxBalance
										</span>
									</RadzenText>
								</div>
								<div class="col-md-3">
									<RadzenText TextStyle="TextStyle.H6">
										<span class="">PQT @acc.PQTBalance</span>
									</RadzenText>
								</div>
								@if(acc.PQTBalance < 1)
								{
									<div class="col-md-3">
										<RadzenText class="text-warning d-inline" TextStyle="TextStyle.DisplayH6">
											No Pirate Quester Token to run the bot
										</RadzenText>
										<RadzenButton ButtonStyle="ButtonStyle.Success" Click="(() => BuyPirateQuesterToken(Acc.Accounts.IndexOf(acc)))" class="d-inline">
											Buy PQT
										</RadzenButton>
									</div>
								}
								else
								{

									<div class="col-md-3">
										<RadzenButton class="" ButtonStyle="ButtonStyle.Success" Click="(() => BuyPirateQuesterToken(Acc.Accounts.IndexOf(acc)))">
											Buy PQT
										</RadzenButton>
									</div>
								}

							</div>
						</div>
					</div>
					<RadzenText TextStyle="TextStyle.H6" class="mb-0 mt-2">
						Address
					</RadzenText>
					<RadzenText TextStyle="TextStyle.Body1" Style="word-break: break-word;">
						@acc.Account.Address
					</RadzenText>
					<RadzenText TextStyle="TextStyle.H6" class="mb-0 mt-2">
						Public Key
					</RadzenText>
					<RadzenText TextStyle="TextStyle.Body1" Style="word-break: break-word;">
						@acc.Account.PublicKey
					</RadzenText>
					<RadzenText TextStyle="TextStyle.H6" class="mb-0 mt-2">
						Show Private Key
					</RadzenText>
					@if (Initialized)
					{
						<form @onsubmit=@(() => TryRevealKey(acc.Name, Password))>
							<RadzenPassword @bind-Value=@Password Placeholder="Re-enter Password" />
							<RadzenButton Text="Show Private Key" ButtonType="ButtonType.Submit" />
						</form>
						@if (ShowPrivateKey[acc.Name])
						{
							<RadzenText TextStyle="TextStyle.H6">
								Private Key
							</RadzenText>
							<RadzenText>
								@acc.Account.PrivateKey
							</RadzenText>
						}
					}
				</RadzenCard>
			}
		</div>
	</div>
}