@using Nethereum.Web3.Accounts;
@using Utils
@page "/Accounts"

<PageTitle>PQ - Accounts</PageTitle>
@if (Acc.Accounts.Count > 0)
{
	<div>
		<div class="p-2">
			<RadzenText TextStyle="TextStyle.H6">
				Chains: @string.Join(", ", AccountSettings.ChainSettings.Where(cs => cs.Enabled).Select(cs => cs.Name))
			</RadzenText>
		</div>
		<div>
			@foreach(DFKAccount acc in Acc.Accounts.DistinctBy(a => a.Account.Address))
			{
				<RadzenCard class="my-3 overflow-auto text-wrap">
					@if (acc.PQTBalance > 0)
					{
						<div class="row">
							@foreach (DFKAccount acc2 in Acc.Accounts.Where(a => a.Account.Address == acc.Account.Address))
							{
								<div class="col-md-4">
									<RadzenText TextStyle="TextStyle.H5">
										<span class="ml-2">
											<RadzenImage Path="@(acc2.Chain.Name == "DFK" ? "Images/Jewel.png" : "Images/Klay.png")" Style="width: 18px; height:18px;" />
											@acc2.Balance
										</span>
									</RadzenText>
								</div>
								<div class="col-md-4">
									<RadzenText TextStyle="TextStyle.H5">
										<span class="ml-2">
											<RadzenImage Path="@(acc2.Chain.Name == "DFK" ? "Images/Crystal.png" : "Images/Jade.png")" Style="width: 18px; height:18px;" />
											@acc2.PowerTokenBalance
											</span>
									</RadzenText>
								</div>
								<div class="col-md-4">
									<RadzenText TextStyle="TextStyle.H5">
										<span class="ml-2">
											<RadzenImage Path="@("Images/Lock.png")" Style="width: 14px; height:18px; position: relative; top: 6px; left: 10px;" />
											<RadzenImage Path="@(acc2.Chain.Name == "DFK" ? "Images/Crystal.png" : "Images/Jade.png")" Style="width: 18px; height:18px;" />
											@acc2.LockedPowerTokenBalance
										</span>
									</RadzenText>
								</div>
							}
						</div>
					}
					<div class="row">
						<div class="col-12">
							<RadzenText TextStyle="TextStyle.H4">
								@acc.Name
							</RadzenText>
						</div>
						<div class="col-md-6">
							<RadzenText TextStyle="TextStyle.H5">
								<span class="ml-2">
									<RadzenImage Path="@("Images/Avalanche.svg")" Style="width: 18px; height:18px;" />
									@acc.AvaxBalance
								</span>
							</RadzenText>
						</div>
						<div class="col-md-6">
							<RadzenText TextStyle="TextStyle.H5">
								<span class="ml-2">PQT @acc.PQTBalance</span>
							</RadzenText>
							@if(acc.PQTBalance < 1)
							{
								<RadzenText class="text-warning" TextStyle="TextStyle.DisplayH6">
									No Pirate Quester Token to run the bot
								</RadzenText>
								<RadzenButton ButtonStyle="ButtonStyle.Success" Click="(() => BuyPirateQuesterToken(Acc.Accounts.IndexOf(acc)))">
									Buy PQT
								</RadzenButton>
							}
							else
							{
								<RadzenText class="text-success" TextStyle="TextStyle.Body2">
									Buy additional tokens to send to your other wallets.
								</RadzenText>
								<RadzenText class="text-success" TextStyle="TextStyle.Body2">
									Or give to friends, you're supporting further developement of the bot by buying.
								</RadzenText>
								<RadzenText class="text-success" TextStyle="TextStyle.Body2">
									Thank you! 🎉🎉🎉
								</RadzenText>
								<RadzenButton ButtonStyle="ButtonStyle.Success" Click="(() => BuyPirateQuesterToken(Acc.Accounts.IndexOf(acc)))">
									Buy PQT
								</RadzenButton>
							}
						</div>
					</div>
					<RadzenText TextStyle="TextStyle.H6">
						Address
					</RadzenText>
					<RadzenText>
						@acc.Account.Address
					</RadzenText>
					<RadzenText TextStyle="TextStyle.H6">
						Public Key
					</RadzenText>
					<RadzenText TextStyle="TextStyle.Body2" Style="max-width:100%;">
						@acc.Account.PublicKey
					</RadzenText>
					<RadzenLabel Text="Show Private Key" Component="ShowPrivateKey" class="font-weight-bold" />
					@if (Initialized)
					{
						<form @onsubmit=@(() => TryRevealKey(acc.Name, Password))>
							<RadzenPassword @bind-Value=@Password Placeholder="Re-enter Password" />
							<RadzenButton Text="Show Private Key" ButtonType="ButtonType.Submit" />
						</form>
						@if (ShowPrivateKey[acc.Name])
						{
							<RadzenText TextStyle="TextStyle.H6">
								Private Key
							</RadzenText>
							<RadzenText>
								@acc.Account.PrivateKey
							</RadzenText>
						}
					}
				</RadzenCard>
			}
		</div>
	</div>
}