@page "/ControlCenter"
@using DFKContracts.HeroCore;
@using DFKContracts.QuestCore.ContractDefinition;
@using Nethereum.RPC.Eth.DTOs;
@using Nethereum.Web3;
@using PirateQuester.Bot;
@using PirateQuester.DFK.Contracts;
@using PirateQuester.Utils;
@using global::DFK;
@using global::Utils;

<PageTitle>PQ - Control Center</PageTitle>
@code {
	private void DialogWindow(string message)
	{
		Dialog.Open("",
	x =>
	@<div>
		@message
	</div>,
		new DialogOptions()
		{
			ShowTitle = true,
			CloseDialogOnEsc = true,
			ShowClose = true,
			Resizable = true,
			Draggable = true,
			CloseDialogOnOverlayClick = true,
			AutoFocusFirstElement = true
		});
	}
	private void DialogWindow(string title, string message)
	{
		Dialog.Open(title,
		x =>
	@<div>
		@message
		</div>
	,
		new DialogOptions()
		{
			ShowTitle = true,
			CloseDialogOnEsc = true,
			ShowClose = true,
			Resizable = true,
			Draggable = true,
			CloseDialogOnOverlayClick = true,
			AutoFocusFirstElement = true
		});
	}

	public int pageSize { get; set; } = 50;

}

@if (Acc.Accounts.Count > 0)
{
	<RadzenCard class="my-2">
		<form onsubmit="event.preventDefault();">
			<div class="row">
				<div class="col-md-6">
					<RadzenText>
						Crystalvale Quests (DFK Chain)
					</RadzenText>
					<SfDropDownList TItem="QuestContract"
						TValue="string"
						@bind-Index="@SelectedDFKQuest"
						DataSource="@QuestContractDefinitions.DFKQuestContracts.First(qc => qc.Chain.Name == "DFK").QuestContracts">
						<DropDownListFieldSettings Value="Name"></DropDownListFieldSettings>
					</SfDropDownList>
					<RadzenText >
						Serendale Quests (Klaytn Chain)
					</RadzenText>
					<SfDropDownList TItem="QuestContract"
						TValue="string"
						@bind-Index="@SelectedKlaytnQuest"
						DataSource="@QuestContractDefinitions.DFKQuestContracts.First(qc => qc.Chain.Name == "Klaytn").QuestContracts">
						<DropDownListFieldSettings Value="Name"></DropDownListFieldSettings>
					</SfDropDownList>
					<label class="w-100">
						<RadzenText>
							Sale Price
						</RadzenText>
						<RadzenNumeric @bind-Value=@SalePrice TValue="decimal?" class="w-100">
						</RadzenNumeric>
					</label>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-12">
							<RadzenText TextStyle="TextStyle.H6" class="text-center">Levelup settings</RadzenText>
						</div>
						<div class="col-4">
							<RadzenText class="mt-2">
								Main
							</RadzenText>
						</div>
						<div class="col-8">
							<RadzenDropDown TValue="DFKStat"
								Data="@Constants.DFKStats"
								AllowClear="true"
								TextProperty="Name"
								class="w-100"
								Value=@LevelSettings.MainAttribute
								Change="((value) => {LevelSettings.MainAttribute = value as DFKStat;})" />
						</div>
						<div class="col-4">
							<RadzenText class="mt-2">
								Secondary
							</RadzenText>
						</div>
						<div class="col-8">
							<RadzenDropDown TValue="DFKStat"
								Data="@Constants.DFKStats"
								TextProperty="Name"
								AllowClear="true"
								class="w-100"
								Value=@LevelSettings.SecondaryAttribute
								Change="((value) => {LevelSettings.SecondaryAttribute = value as DFKStat;})" />
						</div>
						<div class="col-4">
							<RadzenText class="mt-2">
								Tertiary
							</RadzenText>
						</div>
						<div class="col-8">
							<RadzenDropDown TValue="DFKStat"
								Data="@Constants.DFKStats"
								TextProperty="Name"
								AllowClear="true"
								class="w-100"
								Value=@LevelSettings.TertiaryAttribute
								Change="((value) => {LevelSettings.TertiaryAttribute = value as DFKStat;})" />
						</div>
					</div>
				</div>
			</div>
			<div class="text-center">
				<RadzenButton Click="@SetAllPreferences"
				  ButtonStyle="ButtonStyle.Success"
				  ButtonType="ButtonType.Submit"
					class="mt-2">
					Set preference
				</RadzenButton>
				<RadzenButton Click="@SetQuestPreference"
				  ButtonStyle="ButtonStyle.Success"
				  ButtonType="ButtonType.Button"
					class="mt-2">
					Set Quest
				</RadzenButton>
				<RadzenButton Click="@SetSalePreference"
				  ButtonStyle="ButtonStyle.Success"
				  ButtonType="ButtonType.Button"
					class="mt-2">
					Set Price
				</RadzenButton>
				<RadzenButton Click="@SetLevelupPreference"
				  ButtonStyle="ButtonStyle.Success"
			ButtonType="ButtonType.Button"
					class="mt-2">
					Set Levelup
				</RadzenButton>
				<RadzenButton Click="@ResetSelection"
					ButtonStyle="ButtonStyle.Danger"
					ButtonType="ButtonType.Button"
					class="mt-2">
					Reset Selection
				</RadzenButton>
				<RadzenButton Click="@ClearAllPreference"
					ButtonStyle="ButtonStyle.Danger"
					ButtonType="ButtonType.Button"
					class="mt-2">
					Clear
				</RadzenButton>
				<RadzenButton Click="@ClearQuestPreference"
					ButtonStyle="ButtonStyle.Danger"
					ButtonType="ButtonType.Button"
					class="mt-2">
					Clear Quest
				</RadzenButton>
				<RadzenButton Click="@ClearSalePricePreference"
					ButtonStyle="ButtonStyle.Danger"
					ButtonType="ButtonType.Button"
					class="mt-2">
					Clear Price
				</RadzenButton>
				<RadzenButton Click="@ClearLevelSettingsPreference"
					ButtonStyle="ButtonStyle.Danger"
					ButtonType="ButtonType.Button"
					class="mt-2">
					Clear Lvlup
				</RadzenButton>
				<RadzenButton Click="RefreshTableHeroes"
					ButtonType="ButtonType.Button"
					class="mt-2">
					Refresh Heroes
				</RadzenButton>
			</div>
		</form>
	</RadzenCard>
}
<SfGrid 
	@ref=@HeroGridReference
	DataSource="@TableHeroes"
	ID="ControlCenterHeroGrid"
	EnablePersistence="true"
	AllowTextWrap="true"
	AllowSelection="true"
	AllowFiltering="true"
	AllowPaging="true"
	AllowResizing="true"
	AllowSorting="true"
	AllowExcelExport="true"
	AllowReordering="true"
	AllowMultiSorting="true"
	AllowPdfExport="true"
	Height="650px">
	<GridSelectionSettings EnableSimpleMultiRowSelection="true" Type="Syncfusion.Blazor.Grids.SelectionType.Multiple" AllowDragSelection="true" ></GridSelectionSettings>
	<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
	<GridPageSettings PageSizes="@(new string[] { "5", "10", "15", "20", "50", "All" })" PageSize="@pageSize"></GridPageSettings>
	<GridColumns>
		<GridColumn Field="BotSalePrice" HeaderText="Bot Price" Width="100" />
		<GridColumn Field="LevelUpSetting.MainAttribute.Name" HeaderText="Lvlup Settings" Width="120">
			<Template>
				<div>
					@{
						var hero = context as DFKBotHero;
						@if (hero.LevelUpSetting.MainAttribute is not null)
						{
							<span>@hero.LevelUpSetting.MainAttribute?.Name</span>

							<br />
						}
						@if (hero.LevelUpSetting.SecondaryAttribute is not null)
						{
							<span>@hero.LevelUpSetting.SecondaryAttribute?.Name</span>

							<br />
						}
						@if (hero.LevelUpSetting.TertiaryAttribute is not null)
						{
							<span>@hero.LevelUpSetting.TertiaryAttribute?.Name</span>
						}
					}
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="Quest.Name" HeaderText="Prefer Quest" Width="120"></GridColumn>
		<GridColumn Field="Hero.network" HeaderText="Chain" Width="100" />
		<GridColumn Field="Hero.id" HeaderText="Id" Width="120"></GridColumn>
		<GridColumn Field="Hero.rarity" HeaderText="Rarity" Width="120">
			<Template>
                <div>
                    @{
                        var hero = context as DFKBotHero;
						<span>@hero.Hero.GetRarity()</span>
                    }
                </div>
			</Template>
		</GridColumn>
		<GridColumn Field="Hero.owner.Id" HeaderText="Wallet" Width="250">
			<Template>
				<div>
					@{
						var hero = context as DFKBotHero;
						if (hero.Hero.owner?.Name is not null)
						{
							@hero.Hero?.owner?.Name
							<span class="mx-2"></span>
						}
						if (hero.Hero.owner?.Id is not null)
						{
							@hero.Hero.owner.Id.Substring(2, 6)
							@("...")
							@hero.Hero.owner.Id.Substring(hero.Hero.owner.Id.Length - 4, 4)
						}
					}
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="Hero.salePrice" HeaderText="Sale Price" Width="120">
			<Template>
				<div>
					@((context as DFKBotHero).Hero.SalePrice(2))
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="Hero.staminaFullAt" HeaderText="Stamina" Width="120">
			<Template>
				<div>
					@{
						var hero = context as DFKBotHero;
						@hero.Hero.StaminaCurrent() @("/") @hero.Hero.stamina
					}
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="SuggestedQuest.Name" HeaderText="Suggested Quest" Width="280"></GridColumn>
		<GridColumn Field="Hero.mainClass" HeaderText="Class" Width="120"></GridColumn>
		<GridColumn Field="Hero.subClass" HeaderText="Subclass" Width="120"></GridColumn>
		<GridColumn Field="Hero.profession" HeaderText="Profession" Width="130"></GridColumn>
		<GridColumn Field="Hero.mining" HeaderText="Mining" Width="120"></GridColumn>
		<GridColumn Field="Hero.gardening" HeaderText="Gardening" Width="130"></GridColumn>
		<GridColumn Field="Hero.foraging" HeaderText="Foraging" Width="120"></GridColumn>
		<GridColumn Field="Hero.fishing" HeaderText="Fishing" Width="120"></GridColumn>
		<GridColumn Field="Hero.currentQuest" HeaderText="Current Quest" Width="280">
			<Template>
				<div>
					@{
						var hero = context as DFKBotHero;
						@hero.Hero.GetCurrentQuestName();
					}
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="rarity" HeaderText="Rarity" Width="120">
			<Template>
				<div>
					@((context as DFKBotHero).Hero.GetRarity())
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="firstName" HeaderText="Name" Width="250">
			<Template>
				<div>
					@((context as DFKBotHero).Hero.FullName())
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="Hero.level" HeaderText="LVL" Width="90"></GridColumn>
		<GridColumn Field="Hero.generation" HeaderText="Gen" Width="90"></GridColumn>
		<GridColumn Field="Hero.statBoost1" HeaderText="SB1" Width="90"></GridColumn>
		<GridColumn Field="Hero.statBoost2" HeaderText="SB2" Width="90"></GridColumn>
		<GridColumn Field="Hero.strength" HeaderText="STR" Width="90"></GridColumn>
		<GridColumn Field="Hero.dexterity" HeaderText="DEX" Width="90"></GridColumn>
		<GridColumn Field="Hero.agility" HeaderText="AGI" Width="90"></GridColumn>
		<GridColumn Field="Hero.vitality" HeaderText="VIT" Width="90"></GridColumn>
		<GridColumn Field="Hero.endurance" HeaderText="END" Width="90"></GridColumn>
		<GridColumn Field="Hero.intelligence" HeaderText="INT" Width="90"></GridColumn>
		<GridColumn Field="Hero.wisdom" HeaderText="WIS" Width="90"></GridColumn>
		<GridColumn Field="Hero.luck" HeaderText="LCK" Width="90"></GridColumn>
	</GridColumns>
</SfGrid>