@page "/ControlCenter"
@using DFKContracts.HeroCore;
@using DFKContracts.QuestCore.ContractDefinition;
@using Nethereum.RPC.Eth.DTOs;
@using Nethereum.Web3;
@using PirateQuester.Bot;
@using PirateQuester.DFK.Contracts;
@using PirateQuester.Utils;
@using global::DFK;
@using global::Utils;

<PageTitle>PQ - Control Center</PageTitle>
@code {
	private void DialogWindow(string message)
	{
		Dialog.Open("",
	x =>
	@<div>
		@message
	</div>,
		new DialogOptions()
		{
			ShowTitle = true,
			CloseDialogOnEsc = true,
			ShowClose = true,
			Resizable = true,
			Draggable = true,
			CloseDialogOnOverlayClick = true,
			AutoFocusFirstElement = true
		});
	}
	private void DialogWindow(string title, string message)
	{
		Dialog.Open(title,
		x =>
	@<div>
		@message
		</div>
	,
		new DialogOptions()
		{
			ShowTitle = true,
			CloseDialogOnEsc = true,
			ShowClose = true,
			Resizable = true,
			Draggable = true,
			CloseDialogOnOverlayClick = true,
			AutoFocusFirstElement = true
		});
	}

	public int pageSize { get; set; } = 50;

}

@if (Acc.Accounts.Count > 0)
{
	<RadzenCard class="my-2">
		<RadzenText Text="Crystalvale Quests (DFK Chain)" />
		<SfDropDownList TItem="QuestContract"
			TValue="string"
			@bind-Index="@SelectedDFKQuest"
			DataSource="@QuestContractDefinitions.DFKQuestContracts.First(qc => qc.Chain.Name == "DFK").QuestContracts">
			<DropDownListFieldSettings Value="Name"></DropDownListFieldSettings>
		</SfDropDownList>
		<RadzenText Text="Serendale Quests (Klaytn Chain)" />
		<SfDropDownList TItem="QuestContract"
			TValue="string"
			@bind-Index="@SelectedKlaytnQuest"
			DataSource="@QuestContractDefinitions.DFKQuestContracts.First(qc => qc.Chain.Name == "Klaytn").QuestContracts">
			<DropDownListFieldSettings Value="Name"></DropDownListFieldSettings>
		</SfDropDownList>
		<RadzenButton Click="@SetQuestPreference"
			class="mt-2">
			Set preference
		</RadzenButton>
		<RadzenButton Click="@ClearQuestPreference"
		  class="mt-2">
			Clear
		</RadzenButton>
	</RadzenCard>
}
<SfGrid 
	@ref=@HeroGridReference
	DataSource="@TableHeroes"
	ID="ControlCenterHeroGrid"
	EnablePersistence="true"
	AllowTextWrap="true"
	AllowSelection="true"
	AllowFiltering="true"
	AllowPaging="true"
	AllowReordering="true"
	AllowResizing="true"
	AllowSorting="true"
	AllowExcelExport="true"
	Height="650px">
	<GridSelectionSettings EnableSimpleMultiRowSelection="true" Type="SelectionType.Multiple" AllowDragSelection="true" ></GridSelectionSettings>

	<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
	<GridPageSettings PageSizes="@(new string[] { "5", "10", "15", "20", "50", "All" })" PageSize="@pageSize"></GridPageSettings>
	<GridColumns>
		<GridColumn Field="Hero.owner.Id" HeaderText="Wallet" Width="250">
			<Template>
				<div>
					@{
						var hero = context as DFKBotHero;
						if(hero.Hero.owner?.Name is not null)
						{
							@hero.Hero?.owner?.Name
							<span class="mx-2"></span>
						}
						if (hero.Hero.owner?.Id is not null)
						{
							@hero.Hero.owner.Id.Substring(2, 6)
							@("...")
							@hero.Hero.owner.Id.Substring(hero.Hero.owner.Id.Length - 4, 4)
						}
					}
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="Hero.network" HeaderText="Chain" Width="100" />
		<GridColumn Field="Hero.id" HeaderText="Id" Width="120"></GridColumn>
		<GridColumn Field="Hero.staminaFullAt" HeaderText="Stamina" Width="120">
			<Template>
				<div>
					@{
						var hero = context as DFKBotHero;
						@hero.Hero.StaminaCurrent() @("/") @hero.Hero.stamina
					}
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="Quest.Name" HeaderText="Prefer Quest" Width="280"></GridColumn>
		<GridColumn Field="SuggestedQuest.Name" HeaderText="Suggested Quest" Width="280"></GridColumn>
		<GridColumn Field="Hero.mainClass" HeaderText="Class" Width="120"></GridColumn>
		<GridColumn Field="Hero.subClass" HeaderText="Subclass" Width="120"></GridColumn>
		<GridColumn Field="Hero.profession" HeaderText="Profession" Width="130"></GridColumn>
		<GridColumn Field="Hero.currentQuest" HeaderText="Current Quest" Width="280">
			<Template>
				<div>
					@{
						var hero = context as DFKBotHero;
						@hero.Hero.GetCurrentQuestName();
					}
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="Hero.salePrice" HeaderText="Price" Width="120">
			<Template>
				<div>
					@((context as DFKBotHero).Hero.SalePrice(2))
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="rarity" HeaderText="Rarity" Width="120">
			<Template>
				<div>
					@((context as DFKBotHero).Hero.GetRarity())
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="firstName" HeaderText="Name" Width="250">
			<Template>
				<div>
					@((context as DFKBotHero).Hero.FullName())
				</div>
			</Template>
		</GridColumn>
		<GridColumn Field="Hero.level" HeaderText="LVL" Width="90"></GridColumn>
		<GridColumn Field="Hero.generation" HeaderText="Gen" Width="90"></GridColumn>
		<GridColumn Field="Hero.statBoost1" HeaderText="SB1" Width="90"></GridColumn>
		<GridColumn Field="Hero.statBoost2" HeaderText="SB2" Width="90"></GridColumn>
		<GridColumn Field="Hero.strength" HeaderText="STR" Width="90"></GridColumn>
		<GridColumn Field="Hero.dexterity" HeaderText="DEX" Width="90"></GridColumn>
		<GridColumn Field="Hero.agility" HeaderText="AGI" Width="90"></GridColumn>
		<GridColumn Field="Hero.vitality" HeaderText="VIT" Width="90"></GridColumn>
		<GridColumn Field="Hero.endurance" HeaderText="END" Width="90"></GridColumn>
		<GridColumn Field="Hero.intelligence" HeaderText="INT" Width="90"></GridColumn>
		<GridColumn Field="Hero.wisdom" HeaderText="WIS" Width="90"></GridColumn>
		<GridColumn Field="Hero.luck" HeaderText="LCK" Width="90"></GridColumn>
	</GridColumns>
</SfGrid>