@page "/CreateAccount"
@using PirateQuester.ViewModels;
@using System.ComponentModel.DataAnnotations;
@using Utils;
@using Newtonsoft.Json

<div class="container">
    <h4 class="text-center">Create Account</h4>
    <PageTitle>PQ - Create Account</PageTitle>
    @if(Acc.AccountNames.Count == 0)
    {
        <div class="rz-background-color-danger p-3 rounded m-3">
            <h6>
                You need to create an account to use most features on Pirate Quester.
            </h6>
        </div>
    }
    <SfCard>
        <CardHeader>
            <h5 class="text-danger">
                Important!
            </h5>
        </CardHeader>
        <CardContent>
            <p>
                Backup your accounts!
            </p>
            <p>
                To read more about creating accounts safely read the documentation guide:
                <a href="https://dfk-project.gitbook.io/pirate-quester/guides/accounts/creating-an-account-exporting-an-account-from-metamask" target="_blank">
                    Creating an account
                </a>
            </p>
            <p>
                If you lose access to your keys, you've got noone to blame but yourself.
            </p>
            <p>
                Pirate Quester keeps no data backed up online, it's all on your device.
            </p>
            <p>
                It is self custodial through and through.
            </p>
        </CardContent>
    </SfCard>
    <SfCard CssClass="row">
        <div class="col-12 text-center">
            <SfButton OnClick="ShowCreateAccount" CssClass="@(ShowingState == "create" ? "e-primary d-inline" : "e-secondary d-inline")" style="max-width:200px;">
                Create
            </SfButton>
            <SfButton OnClick="ShowImportAccount" CssClass="@(ShowingState == "import" ? "e-primary d-inline" : "e-secondary d-inline")" style="max-width:200px;">
                Import
            </SfButton>
        </div>
    </SfCard>
    <SfCard>
        <CardContent>
            @if(ShowingState == "import")
            {
                <EditForm OnValidSubmit="ImportAccount" Model="@createModel">
                    <h6 class="mb-1">
                        Account Name
                    </h6>
                    <SfTextBox @bind-Value="importModel.AccountName" />

                    <h6 class="mb-1">
                        Pirate Quester Encoded Account File
                    </h6>
                    <InputFile OnChange="OnInputFileChange" />
                    <div class="mt-1">
                        <SfButton CssClass="e-success">
                            Import
                        </SfButton>
                    </div>
                </EditForm>
            }
            else
            {
                <EditForm OnValidSubmit="@(() => Create())" Model="@createModel">
                    <h6 class="mb-1">
                        Account Name
                    </h6>
                    <SfTextBox @bind-Value="createModel.Name" />
                    <h6 class="mb-1">
                        Private Key
                    </h6>
                    <SfTextBox Type="InputType.Password" @bind-Value="createModel.PrivateKey" Name="PrivateKey" />

                    <h6 class="mb-1">
                        Password
                    </h6>
                    <SfTextBox Type="InputType.Password" @bind-Value="createModel.Password" />

                    <h6 class="mb-1">
                        Re-type Password
                    </h6>
                    <SfTextBox Type="InputType.Password" @bind-Value="createModel.RecheckPassword" />
                    
                    <div class="mt-1">
                        <SfButton CssClass="e-success">
                            Create
                        </SfButton>
                    </div>
                </EditForm>
            }
        </CardContent>
    </SfCard>
    <SfDialog ShowCloseIcon="false" IsModal="true" @bind-Visible="@Creating" Width="50%">
        <DialogTemplates>
            <Content>
                <h4 class="text-center">Creating account for @createModel.Name...</h4>
                <SfSpinner Visible="true"></SfSpinner>
            </Content>
        </DialogTemplates>
    </SfDialog>
</div>