@page "/"
@using DFKContracts.HeroCore;
@using DFKContracts.QuestCore.ContractDefinition;
@using Nethereum.RPC.Eth.DTOs;
@using Nethereum.Web3;
@using PirateQuester.DFK.Contracts;
@using global::DFK;
@using global::Utils;

<PageTitle>PQ - Home</PageTitle>
<RadzenText class="text-center mt-2" TextStyle="TextStyle.H5">List Account Heroes</RadzenText>
<RadzenTextArea @bind-Value=@ownerInput
	Placeholder="Additional addresses"
	Change="@LoadHeroes"
	Class="w-100 my-3 py-3" />
@if(Acc.Accounts.Count > 0)
{
	<RadzenDropDown AllowClear="true"
		AllowFiltering="true"
		FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
		@bind-Value=@SelectedOwners
		Multiple="true"
		Placeholder="Select..."
		Data="@Acc.Accounts.Select(acc => acc.Account.Address).ToList()"
		TextProperty=""
		ValueProperty=""
		Chips="true"
		Change="@LoadHeroes"
		Class="w-100 my-3 py-3" />
	<RadzenCard class="my-2">
		<RadzenTextBox @bind-Value=@Attempts>
		</RadzenTextBox>
		<RadzenButton ButtonStyle="StartQuestStyle" Disabled="StartQuestButtonDisabled" Click="@StartFishing">
			Start Fishing!
		</RadzenButton>
		<RadzenButton ButtonStyle="StartQuestStyle" Disabled="StartQuestButtonDisabled" Click="@CompleteQuest">
			Complete Quests
		</RadzenButton>
	</RadzenCard>
}
@if(Loading)
{
	<RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" ProgressBarStyle="ProgressBarStyle.Secondary" />
}
<RadzenDataGrid
	Data="@TableHeroes"
	TItem="Hero"
	SelectionMode="DataGridSelectionMode.Multiple" 
	@ref="heroes"
	@bind-Value=@SelectedHeroes
	RowClick="@UpdateSelection"
	AllowRowSelectOnRowClick="true"
	AllowPaging="true"
	AllowSorting="true"
	AllowColumnReorder="true"
	AllowColumnResize="true"
	AllowFiltering="true"
	ShowPagingSummary="true"
	ColumnWidth="100px"
	PagerHorizontalAlign="HorizontalAlign.Center"
	PageSize="15"
	Style="max-height:700px;"
	PagingSummaryFormat="@pagingSummaryFormat">
	<Columns>
		<RadzenDataGridColumn TItem="Hero" Property="owner" Title="Owner" Width="150px">
			<Template Context="data">
				@if(data.owner is not null)
				{
					@data.owner.Name
				}
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Hero" Property="owner" Title="Owner Address" Width="150px">
			<Template Context="data">
				@if (data.owner is not null)
				{
					@data.owner.Id
				}
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Hero" Property="id" Title="Id">
			<Template Context="data">
				@(ulong.Parse(data.id) > 1000000000000 ? $"CV-{ulong.Parse(data.id) - 1000000000000}" : ulong.Parse(data.id))
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Hero" Property="currentQuest" Title="Current Quest" Width="200px">
			<Template Context="data">
				@data.GetCurrentQuestName()
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Hero" Property="stamina" Title="Stamina">
			<Template Context="data">
				@data.StaminaCurrent(JS)/@data.stamina
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Hero" Property="salePrice" Title="Cost">
				<Template Context="data">
					@if(data.salePrice is not null)
					{
							@data.SalePrice(2)
					}
					else{
						<span>
							Not for Sale
						</span>
					}
				</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Hero" Property="mainClass" Title="Class" />
		<RadzenDataGridColumn TItem="Hero" Property="subClass" Title="Subclass" />
		<RadzenDataGridColumn TItem="Hero" Property="GetRarity" Title="Rarity">
			<Template Context="data">
				@data.GetRarity()
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Hero" Property="FullName" Title="Name" Width="200px">
			<Template Context="data">
				@data.FullName()
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Hero" Property="level" Title="Level"/>
		<RadzenDataGridColumn TItem="Hero" Property="generation" Title="Generation"/>
		<RadzenDataGridColumn TItem="Hero" Property="statBoost1" Title="Statboost 1" />
		<RadzenDataGridColumn TItem="Hero" Property="statBoost2" Title="Statboost 2" />
		<RadzenDataGridColumn TItem="Hero" Property="profession" Title="Profession" />
		<RadzenDataGridColumn TItem="Hero" Property="strength" Title="Strength" />
		<RadzenDataGridColumn TItem="Hero" Property="dexterity" Title="Dexterity" />
		<RadzenDataGridColumn TItem="Hero" Property="agility" Title="Agility" />
		<RadzenDataGridColumn TItem="Hero" Property="vitality" Title="Vitality" />
		<RadzenDataGridColumn TItem="Hero" Property="endurance" Title="Endurance" />
		<RadzenDataGridColumn TItem="Hero" Property="intelligence" Title="Intelligence" />
		<RadzenDataGridColumn TItem="Hero" Property="wisdom" Title="Wisdom" />
		<RadzenDataGridColumn TItem="Hero" Property="luck" Title="Luck" />
	</Columns>
</RadzenDataGrid>
@code{
	public void OpenDialog(string text)
	{
		Dialog.Open("Transaction", txn =>
			@<div>
				<div>
					@text
				</div>
			</div>
		,
		new DialogOptions() { Width = "700px", Height = "512px", Resizable = true, Draggable = true, CloseDialogOnEsc = true, ShowClose = true });
	}

}