@using PirateQuester.Pages;
@using Utils;
@using global::Utils;
@inherits LayoutComponentBase
<RadzenDialog />
<RadzenTooltip />
@code {
    public void OpenTransactionsWindow()
    {
        Dialog.Open<TransactionsWindow>("Transaction",
        new(),
        new DialogOptions() { Width = "700px", Height = "512px", Resizable = true, Draggable = true, CloseDialogOnEsc = true, AutoFocusFirstElement = true });
    }
}
<div class="page">
    <main style="width:100%;">
        <RadzenLayout class="">
            <RadzenHeader>
                <div class="d-flex align-items-center">
                    <RadzenSidebarToggle Click="@(() => SidebarExpanded = !SidebarExpanded)" />
                    <div class="overflow-auto" style="white-space:nowrap;">
                        <div class="d-inline-block">
                            @if (Acc.Accounts.Count == 1)
                            {
                                <RadzenButton Click="@(() => Nav.NavigateTo("Accounts"))" Style="white-space:nowrap;">
                                    @{
                                        var address = Acc.Accounts.FirstOrDefault().Account.Address;
                                        <span>@address.Substring(0, 4)...</span>
                                        <span>@address.Substring(address.Length-4, 4)</span>
                                    }
                                </RadzenButton>
                                <span class="ml-2">@Balance <RadzenImage Path="Images/Jewel.png" Style="width: 18px; height:18px;" /></span>
                            }
                            else if (Acc.Accounts.Count > 1)
                            {
                                <RadzenButton Click="@(() => Nav.NavigateTo("Accounts"))" Style="white-space:nowrap;">
                                    @Acc.Accounts.DistinctBy(a => a.Account.Address).Count() Accounts
                                </RadzenButton>
                            }
                            else if (Acc.AccountNames.Count() > 0)
                            {
                                <br />
                                <RadzenLink Path="Login" Text="Login" Style="white-space:nowrap;" />
                            }
                            else
                            {
                                <RadzenLink Path="CreateAccount" Text="Create Account" Style="white-space:nowrap;" />
                            }
                        </div>
                        <RadzenText Text="Pirate Quester 🏴‍☠️ V1.1.0" Style="white-space:nowrap;" class="d-inline-block mx-5" />
                        <RadzenButton class="d-inline-block" Click="@OpenTransactionsWindow">
                            @Transaction.FinishedTransactions.Count() Transactions
                        </RadzenButton>
                    </div>
                </div>
            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@SidebarExpanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="house" Path="/" />
                    @if (Acc.AccountNames.Count > 0)
                    {
                        if(Acc.Accounts.Count > 0)
                        {
                            <RadzenPanelMenuItem Text="Control Center" Icon="dashboard" Path="/ControlCenter" />
                            <RadzenPanelMenuItem Text="Bot" Icon="android" Path="/Bot" />
                            <RadzenPanelMenuItem Text="Accounts" Path="/Accounts" Icon="account_circle"></RadzenPanelMenuItem>
                        }
                        else if(Acc.AccountNames.Count() != Acc.Accounts.Count())
                        {
                            <RadzenPanelMenuItem Text="Login" Path="/Login" Icon="account_circle"></RadzenPanelMenuItem>
                        }
                    }
                    <RadzenPanelMenuItem Text="Create Account" Path="/CreateAccount" Icon="account_box"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Path="Options" Text="Options" Icon="build" />
                </RadzenPanelMenu>
                <div class="p-2">
                    <RadzenLink Path="https://dfk-project.gitbook.io/pirate-quester/" Text="Docs" Target="_blank" /><br />
                    <RadzenLink Path="https://discord.gg/kuy5tSrH9C" Text="Discord" Target="_blank" />
                    <RadzenText Text="Notepad" />
                    <RadzenTextArea @bind-Value="@NotePad" Change="@SaveNotepad" class="w-100" Rows="20" />
                </div>
            </RadzenSidebar>
            <RadzenBody>
                @Body
            </RadzenBody>
        </RadzenLayout>
    </main>
</div>