@using PirateQuester.Pages;
@using Utils;
@using global::Utils;
@inherits LayoutComponentBase
<RadzenDialog />
@code{
    public void OpenTransactionWindow()
    {
        Dialog.Open<TransactionsWindow>("Transaction",
        new(),
        new DialogOptions() { Width = "700px", Height = "512px", Resizable = true, Draggable = true, CloseDialogOnEsc = true, AutoFocusFirstElement = true });
    }
}
<div class="page">
    <main style="width:100%;">
        <RadzenLayout class="">
            <RadzenHeader>
                <div class="d-flex align-items-center">
                    <RadzenSidebarToggle Click="@(() => SidebarExpanded = !SidebarExpanded)" />
                    <div class="overflow-auto" style="white-space:nowrap;">
                        <div class="d-inline-block">
                            @if (Acc.Accounts.Count == 1)
                            {
                                <RadzenButton Click="@(() => Nav.NavigateTo("Accounts"))" Style="white-space:nowrap;">
                                    Logged in as @Acc.Accounts.FirstOrDefault().Account.Address
                                </RadzenButton>
                            }
                            else if (Acc.Accounts.Count > 1)
                            {
                                <RadzenButton Click="@(() => Nav.NavigateTo("Accounts"))" Style="white-space:nowrap;">
                                    Logged in with @Acc.Accounts.Count accounts
                                </RadzenButton>
                            }
                            else if (Acc.AccountNames.Count > 0)
                            {
                                <br />
                                <RadzenLink Path="Login" Text="Login" Style="white-space:nowrap;" />
                            }
                            else
                            {
                                <RadzenLink Path="CreateAccount" Text="Create Account" Style="white-space:nowrap;" />
                            }
                        </div>
                        <RadzenText Text="Pirate Quester 🏴‍☠️" Style="white-space:nowrap;" class="d-inline-block mx-5" />
                        <RadzenButton class="d-inline-block" Click="@OpenTransactionWindow">
                            @Transaction.PendingTransactions.Count Pending Transactions
                        </RadzenButton>
                    </div>
                </div>
            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@SidebarExpanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
                    @if (Acc.AccountNames.Count > 0)
                    {
                        if(Acc.Accounts.Count > 0)
                        {
                            <RadzenPanelMenuItem Text="Accounts" Path="/Accounts" Icon="account_circle"></RadzenPanelMenuItem>
                        }
                        <RadzenPanelMenuItem Text="Login" Path="/Login" Icon="account_circle"></RadzenPanelMenuItem>
                    }
                    <RadzenPanelMenuItem Text="Create Account" Path="/CreateAccount" Icon="account_box"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Path="Options" Text="Options" Icon="wrench" />
                </RadzenPanelMenu>
                <div class="p-2">
                    <RadzenText Text="Notepad" />
                    <RadzenTextArea @bind-Value="@NotePad" Change="@SaveNotepad" class="w-100" Rows="30" />
                </div>
            </RadzenSidebar>
            <RadzenBody>
                @Body
            </RadzenBody>
        </RadzenLayout>
    </main>
</div>